<rxUserList [users]="users"
						(remove)="remove($event)"
						(select)="select($event)"></rxUserList>
<rxUserForm *ngIf="selectedUser | async"
						[user]="selectedUser | async"
						(userChange)="update($event)"></rxUserForm>
<rxUserForm *ngIf="!(selectedUser | async)"
						(userChange)="add($event)"></rxUserForm>
