<form (ngSubmit)="save()">
	<div class="form-group">
		<label for="summary">Summary</label>
		<textarea type="text"
				  name="summary"
				  class="form-control"
				  [(ngModel)]="updatedStory.summary"
				  id="summary"
				  required></textarea>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>