/* Master Styles */
h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

h2, h3 {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

body {
	margin: 2em;
}


/* forms */

.ng-valid[required] {
	border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
	border-left: 5px solid #a94442; /* red */
}

.rx-list-item:hover {
	background-color: #cccccc;
}
