<div class="table-container">
	<div *ngFor="let story of stories | async" class="row">
		<div class="col-xs-4">{{story.summary}}</div>
		<div class="col-xs-4">{{story.author.displayName}}</div>
		<div class="col-xs-4"><button class="btn btn-danger" (click)="remove.emit(story)">X</button></div>
	</div>
</div>