<div class="table-container">
	<div *ngFor="let user of users | async" class="row rx-list-item" (click)="select.emit(user)">
		<div class="col-xs-4">{{user.displayName}}</div>
		<div class="col-xs-4">{{user.name}}</div>
		<div class="col-xs-4"><button class="btn btn-danger" (click)="delete(user, $event)">X</button></div>
	</div>
</div>