<form (ngSubmit)="save()">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text"
			   name="username"
			   class="form-control"
			   [(ngModel)]="updatedUser.name"
			   id="username"
			   required />
	</div>
	<div class="form-group">
		<label for="displayName">Full name</label>
		<input type="text"
			   name="displayName"
			   class="form-control"
			   [(ngModel)]="updatedUser.displayName"
			   id="displayName"
			   required />
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>