<h1>Renovo ngrx test</h1>
<nav>
    <a routerLink="/users" routerLinkActive="active">Users</a>
    <a routerLink="/stories" routerLinkActive="active">Stories</a>
  </nav>
  <h3 [hidden]="!(selectedUser | async)">{{(selectedUser | async)?.displayName}}</h3>
<router-outlet></router-outlet>
